@charset "utf-8";

* {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    background-color:#00008B;
    color: deeppink;
}

header {
    width: 100%; 
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 3px solid deeppink;
}

h1{
    padding: 0px 30px;
    font-size: 32px;
}

a{	
    text-decoration: none;
    color: #4b4b4b;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0px 30px;
}

a:hover{
    color: deeppink;
    font-size: 120%;
}

li{
    margin: 0 0 0 19px;
   font-size: 20px;
}



nav{
    margin: 0 0 0 auto;
}

.hero img{
    width: 100%;
    height: auto;
}


.profile {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile img{
    width: 300px;
    height: auto;
    margin-bottom: 30px;;
}

.myname{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


/* Page structure */
.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 105%;
    margin: 0;
}


